<div class="container">
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button type="submit" class="button" id="button-search">Search</button>
  </form>
  <div class="gallery"></div>
  <div class="actions">
    <button type="button" class="load-more is-hidden" id="button-load">Load more</button>
    <a class="btn-to-top" title="Return to top">
      <span>
        <svg class="icon circle-up"><use xlink:href="#circle-up"></use></svg>
  </a>
  </div>
</div>
